<section class="contact-s3 container-fluid d-flex align-items-center py-5 bg-secondary text-white minh-50vh border-top border-dark">
  <div class="row mx-0 w-100 text-center">
      <div class="col-12 text-shadow">
          <h2 class="text-uppercase">
             Contact online
          </h2>
          <p class="lead text-center px-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore 
              magna aliqua
          </p>
      </div>
      <div class="col-12 col-sm-9 col-md-7 p-3 mx-auto text-center">
          <form class="text-start">
              <div class="input-group mb-2">
                  <label class="input-group-text w-25 d-none d-sm-block text-start">First name</label>
                  <input class="form-control" 
                      type="text" 
                      name="firstname" 
                      placeholder="Enter first name"
                      maxlength="80"/>
              </div>
              <div class="input-group mb-2">
                  <label class="input-group-text w-25 d-none d-sm-block text-start">Last name</label>
                  <input class="form-control" 
                      type="text" 
                      name="lastname" 
                      placeholder="Enter last name"
                      maxlength="80"/>
              </div>
              <div class="input-group mb-2">
                  <label class="input-group-text w-25 d-none d-sm-block text-start">Phone</label>
                  <input class="form-control" 
                      type="tel" 
                      name="phone" 
                      placeholder="Enter phone"
                      maxlength="80"/>
              </div>
              <div class="input-group mb-2">
                  <label class="input-group-text w-25 d-none d-sm-block text-start">Email</label>
                  <input class="form-control" 
                      type="email" 
                      name="email" 
                      placeholder="Enter email"
                      maxlength="80"/>
              </div>
              <div class="input-group mb-2">
                  <label class="input-group-text w-25 d-none d-sm-block text-start">Message</label>
                  <textarea class="form-control" maxlength="150" placeholder="Enter your message"></textarea>
              </div>
              <div class="w-100 text-center py-3">
                  <input type="reset" class="btn btn-light rounded-pill" value="Clear"/>
                  <input type="submit" class="btn btn-light rounded-pill" value="Send"/>
              </div>
          </form>
      </div>
  </div>
</section>