<section class="services-s1 container-fluid d-flex minh-50vh bg-dark align-items-end py-5">
    <div class="row mx-0 w-100 mt-5 pt-5">
        <div class="col-11 col-sm-9 col-md-7 mx-auto d-flex align-items-center">
            <div class="w-100 text-center text-shadow">
                <h2 class="dispaly-6 fw-bold text-white">
                    Lorem ipsum dolor
                </h2>
                <p class="text-white">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </p>
            </div>
        </div>
    </div>
</section>